<div class="space-y-2" *ngIf="!isModalOpen">
  <div class="grid grid-cols-2 gap-2 sm:gap-4">
    <div class="col-span-2 md:col-span-1">
      <h2 class="text-2xl font-bold">Mantenimiento Rol</h2>
    </div>
    <div
      class="col-span-2 md:col-span-1 flex flex-col md:flex-row md:items-center space-y-4 md:space-y-0 md:space-x-4"
    >
      <div>
        <button
          (click)="isModalOpen = true"
          type="button"
          class="btn btn-outline-secondary whitespace-nowrap"
        >
          + Rol
        </button>
      </div>
      <input
        class="form-control"
        type="search"
        placeholder="Busqueda por Rol"
        aria-label="Search"
        [(ngModel)]="searchedString"
      />
    </div>
  </div>
  <div *ngIf="roles.length == 0" class="p-4">
    <div class="blankDiv">No hay Registros Disponibles, Vuelva Mas Tarde</div>
  </div>
  <div class="table-responsive" *ngIf="roles.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID-Rol</th>
          <th scope="col">Nombres y Apellidos</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of roles | search: 'nombre':searchedString">
          <td>{{ r.id_rol }}</td>
          <td>{{ r.nombre }}</td>
          <td class="space-x-4">
            <button
              (click)="updateAccess(r.id_rol)"
              type="button"
              class="btn btn-outline-success"
            >
              Editar
            </button>
            <button
              (click)="deleteRol(r.id_rol)"
              type="button"
              class="btn btn-outline-danger"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="grid grid-cols-2 gap-4" *ngIf="isModalOpen">
  <div class="col-span-2 md:col-span-1">
    <h2 class="text-2xl font-bold">Agregar Rol</h2>
  </div>
  <div>
    <input
      class="form-control"
      type="search"
      placeholder="Nombre Rol"
      aria-label="Search"
      [(ngModel)]="rolename"
    />
  </div>
  <div class="col-span-2 grid grid-cols-2 gap-4 pb-4">
    <div class="bg-white shadow rounded relative">
      <div
        class="px-4 h-12 flex items-center font-medium text-lg absolute border-b top-0 right-0 left-0"
      >
        <span>Accesos Permitidos</span>
      </div>
      <div class="divide-y px-4 h-full pt-12">
        <div
          *ngIf="selectedAccess.length == 0"
          class="h-full py-2 flex items-center justify-center font-medium text-gray-400"
        >
          Agrege Un acceso
        </div>
        <div *ngIf="selectedAccess.length > 0">
          <div
            *ngFor="let r of selectedAccess; let index = index"
            class="flex justify-between items-center py-2"
          >
            <span>{{ r.nombre }}</span>
            <button
              (click)="selectedAccess.splice(index, 1)"
              class="w-8 h-8 rounded bg-indigo-500 text-white"
            >
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white shadow rounded relative">
      <div
        class="px-4 h-12 flex items-center font-medium text-lg absolute border-b top-0 right-0 left-0"
      >
        <span>Accesos Disponibles</span>
      </div>
      <div class="divide-y px-4 h-full pt-12">
        <div
          *ngIf="getAccess().length == 0"
          class="h-full flex items-center justify-center font-medium text-gray-400"
        >
          No hay mas accesos disponibles
        </div>
        <div *ngIf="access.length > 0">
          <div
            *ngFor="let a of getAccess()"
            class="flex justify-between items-center py-2"
          >
            <button
              class="w-8 h-8 rounded bg-indigo-500 text-white"
              (click)="selectedAccess.push(a)"
            >
              <i class="fa-solid fa-arrow-left-long"></i>
            </button>
            <span>{{ a.nombre }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-x-4 col-span-2 flex justify-end">
    <button (click)="closeModal()" class="text-indigo-500 rounded px-4 py-2">
      Cancelar
    </button>
    <button
      (click)="createRol()"
      class="bg-indigo-500 text-white rounded px-4 py-2"
    >
      Guardar
    </button>
  </div>
</div>
