<div class="barranavegacioninicio mb-2 mt-0" style="background-color: #0167A7 ; color: white; text-align: center;">
    Consultar Estado
</div>

<div class="container-sm shadow-sm p-20 mb-5 bg-body rounded m-5 mx-auto" style="width: 800px; height: auto;">
    <div class="row">
        <div class="col-12 fs-5 bd-highlight " style="background-color: #0167A7; color: white;">Pago</div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: rgb(255, 255, 255);">
            <div>
                Porfavor Realizar el pago para poder continuar con el procedimiento
                
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col order-last">
                    <button type="button" class="btn btn-success">Proceder con el pago</button>
                </div>
                <div class="col order-first">
                    <button type="button" class="btn btn-info">Volver a la pagina de Inicio</button>
                </div>
            </div>
        </div>
    </div>