<div class="shadow rounded mx-auto" style="max-width: 800px">
  <div
    class="text-white px-2 py-1 rounded-t font-medium"
    style="background-color: #0167a7"
  >
    1. Tipo de Tramite
  </div>

  <form [formGroup]="tipoForm" (ngSubmit)="onSubmit()">
    <div class="grid p-4 gap-2">
      <div>
        <label for="disabledSelect" class="form-label"
          >Tipo de Licencia de Funcionamiento
          <span class="text-red-600">*</span>
        </label>
        <select
          id="disabledSelect"
          class="form-select"
          style="text-align: center"
          formControlName="tipoLicencia"
        >
          <option value="" selected>Seleccionar</option>
          <option value="1">Indeterminada</option>
          <option value="2">Temporal</option>
        </select>
      </div>
      <div>
        <label for="disabledSelect" class="form-label"
          >Tipo de Tramite <span class="text-red-600">*</span></label
        >
        <select
          id="disabledSelect"
          class="form-select"
          style="text-align: center"
          formControlName="tipoTramite"
        >
          <option value="" selected>Seleccionar</option>
          <option value="1">Licencia de Funcionamiento</option>
        </select>
      </div>
      <div class="errors" *ngIf="ifErrors()">
        <div class="bg-red-200 text-red-600 py-1 px-2 rounded-lg ">
          <div *ngIf="getErrors()?.required">Valores Requeridos Vacios</div>
          <div *ngIf="getErrors()?.email">Formato de email Incorrecto</div>
        </div>
      </div>
      <div class="flex justify-between">
        <button type="button" class="btn btn-outline-danger" (click)="goHome()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-primary">Siguiente</button>
      </div>
    </div>
  </form>
</div>
