<div
  class="container-sm shadow-sm p-20 bg-body rounded mx-auto"
  style="width: 800px; height: auto"
>
  <div class="row">
    <div
      class="col-12 fs-5 bd-highlight"
      style="background-color: #0167a7; color: white"
    >
      1. Tipo de Tramite
    </div>
  </div>

  <form [formGroup]="tipoForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="mb-3">
        <label for="disabledSelect" class="form-label"
          >Tipo de Licencia de Funcionamiento <span class="text-red-600">*</span></label
        >
        <select
          id="disabledSelect"
          class="form-select"
          style="text-align: center"
          formControlName="tipoLicencia"
        >
          <option value="" selected>Seleccionar</option>
          <option value="1">Indeterminada</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Tipo de Tramite <span class="text-red-600">*</span></label>
        <select
          id="disabledSelect"
          class="form-select"
          style="text-align: center"
          formControlName="tipoTramite"
        >
          <option value="" selected>Seleccionar</option>
          <option value="1">Licencia de Funcionamiento</option>
        </select>
      </div>
      <div class="errors px-2 " *ngIf="ifErrors()">
        <div class="bg-red-200 text-red-600 py-1 px-2 rounded-lg mb-3">
          <div *ngIf="getErrors()?.required">
            Valores Requeridos Vacios
          </div>
          <div *ngIf="getErrors()?.email">
            Formato de email Incorrecto
          </div>
        
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          padding-bottom: 8px;
        "
      >
        <button type="button" class="btn btn-outline-danger" (click)="goHome()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-primary">Siguiente</button>
      </div>
    </div>
  </form>
</div>
