<div>
  <div class="row align-items-start">
    <div class="col">
      <h2 class="text-2xl font-bold">Gestion de Usuarios</h2>
    </div>
    <div class="col grid grid-cols-12 gap-4">
      <button
        (click)="openModal(0)"
        type="button"
        class="btn btn-outline-secondary col-span-3"
      >
        + Usuario
      </button>
      <input
        class="form-control col-span-9"
        type="search"
        placeholder="Busqueda por usuario"
        aria-label="Search"
        [(ngModel)]="searchedString"
      />
    </div>
  </div>
  <div *ngIf="users.length == 0" class="p-4">
    <div class="blankDiv">No hay Registros Disponibles, Vuelva Mas Tarde</div>
  </div>
  <div class="table-responsive" *ngIf="users.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nombre Usuario</th>
          <th scope="col">Nombre Rol</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let u of users | search: 'usuario':searchedString;
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ u.usuario }}</td>
          <td>{{ getRoleNameById(u.id_rol) }}</td>
          <td class="space-x-5">
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="openModal(u.id_usuario)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteUser(u.id_usuario)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div></div>
</div>

<app-agregar-usuario
  [selectedUser]="selectedUser"
  [roles]="roles"
  *ngIf="isUserModalOpen"
  (closed)="closedModal()"
></app-agregar-usuario>
