<div class="space-y-2">
  <div class="grid col-span-2 gap-2 sm:gap-4">
    <div class="col-span-2">
      <h2 class="text-lg sm:text-2xl font-bold">Validar Pago</h2>
    </div>
    <div class="col-span-2">
      <input
        class="form-control"
        type="search"
        placeholder="Busqueda por RUC"
        aria-label="Search"
        [(ngModel)]="searchedString"
      />
    </div>
  </div>

  <div>
    <div *ngIf="solicitudes.length == 0" class="pb-4">
      <div class="blankDiv">No hay Registros Disponibles, Vuelva Mas Tarde</div>
    </div>
    <div class="table-responsive" *ngIf="solicitudes.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">RUC</th>
            <th scope="col">Tipo Licencia</th>

            <th scope="col">Tipo Tramite</th>
            <th scope="col">Razon Social</th>
            <th scope="col">Regimen Tributario</th>
            <th scope="col">Tipo Predio</th>
            <th scope="col">Clas.</th>
            <th scope="col">Zon</th>
            <th scope="col">Elegir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of solicitudes | search: 'ruc':searchedString">
            <td>{{ item.ruc }}</td>
            <td>{{ tipoL[item.tipolicencia] }}</td>

            <td>{{ tipoT[item.tipotramite] }}</td>
            <td>{{ item.razon_social }}</td>
            <td>{{ regimenT[item.reg_tributario] }}</td>
            <td>{{ item.tipo_predio }}</td>
            <td>{{ item.clasificacion }}</td>
            <td>{{ item.zonificacion }}</td>
            <td>
              <button
                type="button"
                class="btn btn-info"
                (click)="infoSelected(item.id_solicitud)"
              >
                Info
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-validar-pago-modal
  *ngIf="infoIsOpen"
  [codigo]="selectedSolicitud.codigo_solicitud"
  (closed)="closeModal()"
></app-validar-pago-modal>
