<div
  class="container-sm shadow-sm mb-5 bg-body rounded m-5 mx-auto"
  style="max-width: 800px; height: auto"
>
  <div class="row">
    <div
      class="col-12 fs-5 bd-highlight"
      style="background-color: #0167a7; color: white"
    >
      Consultar
    </div>
  </div>
  <div class="row">
    <div class="d-flex mt-2">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
        [(ngModel)]="codigo"
      />
      <button
        class="btn btn-outline-success"
        type="submit"
        (click)="searchByCodigo()"
      >
        Buscar
      </button>
    </div>
    <div *ngIf="solicitudes.length == 0" class="p-4">
      <div class="blankDiv" [ngClass]="isSearching ? 'animate-bounce' : ''">
        Busque un Codigo para consultar su estado.
      </div>
    </div>
    <div class="table-responsive" *ngIf="solicitudes.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N° Solicitud</th>
            <th scope="col">Tipo de Solicitud</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of solicitudes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ tipoTramite[s.tipotramite] }}</td>
            <td>{{ s.nombre }}</td>
            <td>
              <button
                *ngIf="s.id_solestado == 0"
                class="rounded shadow bg-yellow-600 text-white w-8 h-8"
                (click)="showMotivo(i)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>

              <button
                *ngIf="s.id_solestado == 3"
                class="rounded shadow bg-green-600 text-white w-8 h-8"
                (click)="goToUpload()"
              >
                <i class="fa-solid fa-upload"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mb-2">
      <button
        type="button"
        class="btn btn-info"
        style="justify-content: center"
        (click)="goBack()"
      >
        Volver a la Pagina de inicio
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="isMotivoOpen"
  class="h-screen w-screen bg-black/20 flex items-center justify-center fixed top-0 left-0"
>
  <div class="bg-white rounded-lg shadow p-4 relative">
    <button class="absolute top-0 right-2" (click)="isMotivoOpen = false">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <span class="font-bold text-2xl">Motivo</span>
    <p>{{ motivo }}</p>
  </div>
</div>
